# Virtual Environment
backend/.venv/

# Environment Files
*.env
*.env.local
*.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo

# SQLite
*.sqlite
*.sqlite3

# Flask
instance/

# Logs
*.log
backend/image_requests.log

# Uploads
backend/uploads/*

# System Files
.DS_Store
Thumbs.db
node_modules
